main {
    display: none;
    flex: 1;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 2em;
}

.cards-wrapper {
    height: 25em;
}


.card {
    min-width: 0;
}

#choices {
    display: flex;
    justify-content: center;
    padding: 2em;
    gap: 2em;
    display: none;
}

#outcome {
    display: none;
    justify-content: center;
    gap: 2em;
    padding: 3em;
}

#outcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#replay-btn {
    padding: 0.75em;
}

#row-1 {
    display: flex;
    align-items: center;
    min-width: 0;
}

#dealer {
    display: none;
    min-width: 0;
    flex: 1;
}

.score-title {
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

#row-2 {
    display: flex;
}

.sec-row {
    width: 100%;
    flex: 1;
}
